@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #7158e2;
    border-radius: 10px;
}

body{
    width: 100vw!important;
    overflow-x: hidden;
}
.header{
    background-image: url(bg1.jpg);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-size: 100% 100%;
    position: relative;
}
.navbar{
    width: 85vw;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.726);
}
.logo{
    font-family: 'Poppins', sans-serif;
    color: rgb(132, 0, 255);
    cursor: pointer;
}
.nav_item{
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 19px;
}
.nav_item:hover{
    color: purple;
}
.header_content{
    width: 85vw;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    font-weight: lighter;
}
.header_content > h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.header_content > p{
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    text-align: justify;
    text-justify: inter-word;
}
.logo_icon{
    display: none;
}
.logo_icon > i{
    color: purple;
    font-weight: bolder;
    font-size: 35px;
    cursor: pointer;
}
.offer{
    background: #7158e2;
    padding: 50px 0;
    width: 100%;
    color: white;
}
.offer_heading{
    font-family: 'Poppins', sans-serif;
}
.offer li{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 15px;
}
.offer_img, .team_img{
    border: 2px solid white;
    border-radius: 10px;
    max-height: 300px;
}
.title{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.name{
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.team_heading{
    color: #7158e2;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.team_img{
    border-radius: 0;
    object-fit: fill;
    max-height: 300px;
}
.team_name{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: gray;
}


.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.team {
    width: 320px;
    height: 480px;
    overflow: hidden;
    margin: 8px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    position: relative;
    background-color: #ffffff34;
    object-fit: contain;
}

.team::before {
    content: '';
    background-image: var(--img);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    filter: blur(4px) grayscale(100%);
}

.team img {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 480px;
    border-radius: 16px;
    z-index: 3;
    object-fit: cover;
    border: none;
}

.team:hover img {
    width: 160px;
    height: 240px;
    border: 2px solid var(--primary);
    left: 80px;
    top: 60px;
}

.team .info {
    background-color: #7158e2;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    color: #363636;
    padding: 16px;
    border-top: 8px solid var(--primary);
    border-radius: 50% 50% 0px 0px;
    padding-top: 80px;
    text-align: center;
    transform: scale(2)
}
.team:hover .info {
    transform: scale(1)
}

.team .social {
    padding-block: 16px;
    font-size: 24px;
}

.team .social i {
    display: inline-block;
    width: 48px;
    padding: 12px;
    background-color: #ededed;
    border-radius: 16px;
    margin: 4px;
    cursor: pointer;
}
.team .social i:hover {
    color: var(--primary);
    background-color: #363636;

}
.contact_us{
    padding: 4rem 0;
    width: 100%;
}
.form-groups{
    box-shadow: 0 0 5px rgb(0, 0, 0,.1);
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}
form:hover .d-flex button{
    display: block;
}
.d-flex button{
    border: 2px solid white;
    border-radius: 30px;
    color: #16c9f6;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: .5rem 1.6rem;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0,.3);
    display: none;
    background: transparent;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}
button:focus{
    outline: none;
}
.d-flex .form-group input:focus{
    box-shadow: 0 0 10px rgb(0,0,0,.3);
}
::placeholder{
    font-size: .85rem;
}

.footer{
    background-color: black;
    color: rgb(255, 212, 71);
    text-align: center;
    padding: 25px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

@media (max-width:767px){
    .logo{
        font-size: 15px;
    }
    .logo_icon{
        display: block;
    }
    .header_content{
        display: none;
    }
    .nav_item_container{
        position: absolute;
        top: 70px;
        z-index: 10;
        /* width: 99.7%; */
        width: 85vw;
        height: 160px;
        left: 50%;
        background-color: white;
        transform: translateX(-50%);
        padding: 10px 0px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.726);
        transition: .5s ease all;
    }
    .nav_item{
        padding: 10px 0;
    }
}


@media (max-width: 1100px){
    .contact_us{
        height: auto;
    }
}
